<md-card class="add-edit-card">
    <md-card-title> Add New Book
    </md-card-title>
    <md-card-content>
        <p>
            <md-input [(ngModel)]="bookTitle" type="string" placeholder="Book Title">
            </md-input>     
        </p>
        <p>
            <md-input [(ngModel)]="bookDescription" type="string" placeholder="Book Description">
            </md-input>
        </p>
        <p>
            <md-input [(ngModel)]="bookCoverPageUrl" type="string" placeholder="Book Cover Page URL">
            </md-input> 
        </p>
           <p>
               <md-input [(ngModel)]="displayDateAdd" type="date" >
               </md-input>
        </p>
        <p>
            <md-input [(ngModel)]="bookUrl" type="string" placeholder="Book URL">
            </md-input> 
        </p>
        <p>
            <md-checkbox [(ngModel)]="bookEnabled">Book Enabled</md-checkbox>
        </p>
        Contributors: 
        <table>
            <tr *ngFor="let contributor of contributorCheckboxes">
                <td>
                    <md-checkbox [(ngModel)]="contributor.isChecked">
                        {{contributor.name}}
                    </md-checkbox>
                </td>
            </tr>
        </table>
        <p>
            Language:
            <select [(ngModel)]="bookLanguage">
                <option *ngFor="let language of languages" [value]="language.key">{{language.languageName}}</option>
            </select>
        </p>
        <button md-raised-button color="primary" (click)="doCancel()">Cancel</button>
        <button md-raised-button color="primary" (click)="doSave()">Save</button>

    </md-card-content>
</md-card>
