<div *ngIf="angularFire.auth | async" style="margin-left:16px;margin-right:16px;margin-top: 8px;">
    <br/>
    <button md-raised-button style="background-color:#0083CB;color:#ffffff;" (click)="addBook()">Add Book</button>
    <br/>
    <div *ngIf="showAdd">
        <br/>
        <add [(show)]="showAdd" [books]="books"></add>
    </div>
    <br/>
    <md-card class="add-edit-card" >
        <md-card-title> Current Books
        </md-card-title>
        <md-card-content>
            <table>
                <tr>
                    <th>Enabled</th>
                    <th>Title</th>
                    <th>Language</th>
                    <th>Contributors</th>
                    <th>Cover Page</th>
                    <th>Book</th>
                    <th>Description</th>
                    <th>Created Date</th>
                </tr>
                <tr *ngFor="let book_row of books | async; let i =index"
                    [book]="book_row" [books]="books">
                    <edit
                        book="book" >
                    </edit>
                </tr>
            </table>

        </md-card-content>
    </md-card>
<br/>
</div>
