<td class="text">
    <md-checkbox [(ngModel)]="book.bookEnabled" [(checked)]="!!book.bookEnabled" [(disabled)]="!edit">
    </md-checkbox>
</td>
<td *ngIf="!edit" class="text">
    <div (click)="doEdit()">{{book.bookTitle}}</div>
</td>
<td *ngIf="edit">
    <md-input [(ngModel)]="book.bookTitle" type="string" placeholder="">
    </md-input>     
</td>
<td *ngIf="!edit" class="text">
    <div (click)="doEdit()">{{language}}</div>
</td>
<td *ngIf="edit" class="text">
    <select [(ngModel)]="book.bookLanguage">
        <option *ngFor="let language of languages" [value]="language.key">{{language.languageName}}</option>
    </select>
</td>
<td *ngIf="!edit" class="text">
    <div (click)="doEdit()" *ngFor="let contributor of contributors">{{contributor.name}}</div>
</td>
<td *ngIf="edit" class="text">
    <div *ngFor="let contributor of contributors">{{contributor.name}} <div (click)="deleteContributor(contributor)" class="material-icons">delete</div></div>
    <select [(ngModel)]="selectedContributor" (change)="addContributor($event.target.value)">
        <option *ngFor="let contributor of allContributors" [value]="contributor.key">{{contributor.name}}</option>
    </select>
</td>
<td *ngIf="!edit">
    <img style="max-width: 100px; height: auto; " src="{{bookCoverUrlFull}}" />
</td>
<td *ngIf="edit">
    <md-input [(ngModel)]="book.bookCoverPageUrl" type="string" placeholder="">
    </md-input>     
</td>
<td class="text">
    <div *ngIf="!edit">{{book.bookUrl}}</div>
    <div *ngIf="edit">
        <md-input [(ngModel)]="book.bookUrl" type="string" placeholder="">
        </md-input>     
    </div>
</td>
<td class="text" >
    <div *ngIf="!edit">{{book.bookDescription}}</div>
    <div *ngIf="edit">
        <md-input [(ngModel)]="book.bookDescription" type="string" placeholder="">
        </md-input>
    </div>
</td>
<td class="text">
    <div *ngIf="!edit">
        {{book.createdDate|date:"medium"}}
    </div>
    <div *ngIf="edit">
        <md-input [(ngModel)]="displayDate" type="date" >
        </md-input>
    </div>
</td>

<td *ngIf="edit" >
  <div><button (click)="doCancel()"><i class="material-icons">highlight_off</i></button></div>
</td>
<td *ngIf="edit" >
  <div><button (click)="doSave()"><i class="material-icons">check_circle</i></button></div>
</td>

