<td *ngIf="edit" class="text">
    <md-input [(ngModel)]="language.languageName" type="string" placeholder="language name">
    </md-input>
</td>
<td *ngIf="edit" class="text">
    <md-input [(ngModel)]="language.languageAbbreviation" type="string" placeholder="language abbreviation">
    </md-input>
</td>
<td *ngIf="!edit" class="text">
    <div (click)="doEdit()">{{language.languageName}}</div>
</td>
<td *ngIf="!edit">
    <div (click)="doEdit()">{{language.languageAbbreviation}}</div>
</td>
<!--td *ngIf="!edit">
     <div>{{language.enabled}}</div>
     </td-->
<td class="text">
    <md-checkbox [(ngModel)]="language.enabled" [(checked)]="language.enabled" [(disabled)]="!edit">
    </md-checkbox>
</td>
<td *ngIf="edit">
    <div><button (click)="doSave()"><i class="material-icons">check_circle</i></button></div>
</td>
