<div *ngIf="angularFire.auth | async" style="margin-left:16px;margin-right:16px;margin-top: 8px;">
    <br/>
    <button md-raised-button style="background-color:#0083CB;color:#ffffff;" (click)="addContributor()">Add Contributor</button>
    <br/>
    <div *ngIf="showAdd">
        <add [(show)]="showAdd" [contributors]="contributors"></add>
    </div>
    <br/>
    <md-card class="add-edit-card">
        <md-card-title>Contributors
        </md-card-title>
        <md-card-content>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Avatar</th>
                    <th>Roles</th>
                </tr>
                <tr *ngFor="#contributor_row of contributors | async; #i =index"
                    [contributor]="contributor_row">
                    <edit key="contributor.$key" name="contributor.name"
                          avatar="contributor.avatar" contributor="contributor">
                    </edit>
                </tr>
            </table>
        </md-card-content>
    </md-card>
    <br/>
</div>
