<md-card class="add-edit-card">
    <md-card-title>
    </md-card-title>
    <md-card-content>
        <p>
            <md-input [(ngModel)]="bookTitle" type="string" placeholder="Book Title">
            </md-input>     
        </p>
        <p>
            Book Cover Page Url: <input [(ngModel)]="bookCoverpageUrl" type="string" placeholder="book coverpage url" />
        </p>
        <p>
            <md-checkbox [(ngModel)]="bookEnabled">Book Enabled</md-checkbox>
        </p>
        Contributors: 
        <table>
            <tr *ngFor="#contributor of contributorCheckboxes">
                <td>
                    <md-checkbox [(ngModel)]="contributor.isChecked">
                        {{contributor.name}}
                    </md-checkbox>
                </td>
            </tr>
        </table>
        <p>
            Language:
            <select [(ngModel)]="bookLanguage">
                <option *ngFor="#language of languages" [value]="language.key">{{language.languageName}}</option>
            </select>
        </p>
        <button md-raised-button color="primary" (click)="doCancel()">Cancel</button>
        <button md-raised-button color="primary" (click)="doSave()">Save</button>

    </md-card-content>
</md-card>
