<div *ngIf="angularFire.auth | async" style="margin-left:16px;margin-right:16px;margin-top: 8px;">
    <br/>
    <button md-raised-button style="background-color:#0083CB;color:#ffffff;" (click)="addLanguage()">Add Language</button>
    <br/>
    <div *ngIf="showAdd">
      <br/>
        <add [(show)]="showAdd"></add>
    </div>
    <br/>
    <md-card class="add-edit-card">
        <md-card-title>Languages
        </md-card-title>
        <md-card-content>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Abbreviation</th>
                    <th>Enabled</th>
                </tr>
                <tr *ngFor="#language_row of languages | async; #i =index"
                    [language]="language_row">
                </tr>
            </table>
        </md-card-content>
    </md-card>
    <br/>

</div>
