<td *ngIf="edit" class="text">
    <md-input [(ngModel)]="contributor.name" type="string" placeholder="contributor's name">
    </md-input>
</td>
<td *ngIf="edit" class="text">
    <md-input [(ngModel)]="contributor.avatar" type="string" placeholder="contributor's avatar">
    </md-input>
</td>
<td *ngIf="edit">
    <div >
        <md-checkbox *ngFor="#role of roleCheckboxes" [(ngModel)]="role.isChecked" [(checked)]="role.isChecked" >
            {{role.name}}
        </md-checkbox>
    </div>
</td>
<td *ngIf="edit" >
    <div><button (click)="doSave()"><i class="material-icons">check_circle</i></button></div>
</td>
<td *ngIf="!edit" class="text">
    <div (click)="doEdit()">{{contributor.name}}</div>
</td>
<td *ngIf="!edit">
    <img style="max-width: 100px; height: auto; " src="https://firebasestorage.googleapis.com/v0/b/book-dash.appspot.com/o/contributors%2F{{contributor.avatar}}?alt=media" />
</td>
<td >
    <div *ngIf="!edit">{{rolesString}}</div>
</td>
