<div *ngIf="angularFire.auth | async" style="margin-left:16px;margin-right:16px;margin-top: 8px;">
    <br/>
    <button md-raised-button color="primary" (click)="addRole()">Add Role</button>
    <br/>
    <br/>
    <div *ngIf="showAdd">
        <add [(show)]="showAdd"></add>
    </div>
    <br/>

    <md-card class="add-edit-card">
        <md-card-title>Roles
        </md-card-title>
        <md-card-content>
            <table>
                <tr *ngFor="#role of roles | async; #i =index">
                    <edit [role]="role">
                    </edit>
                </tr>
            </table>
        </md-card-content>
    </md-card>
    <br/>


</div>
